*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif; 
}

body{
    background-color: #F5F8F9;
}

header{
    background-color: white;
}

header img{
    vertical-align: middle;
    height: 4rem;
    margin: 1em 0 1em 1.2em;
}

h1{
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
}

.sfondo{
    width: 70%;
    margin: auto;
    background-color: white;
    border-radius: 1%;
}

.principale{
    width: 80%;
    margin:auto;
    margin-top: 40px;  
}

.bottoni{
    line-height: 50px;
}

.bottone_uno{
    border: 0;
    border-radius: 10%;
    background-color: #46ADF1;
    color: white;
    margin-right: 1em;
}

.bottone_due{
    border: 1px solid grey;
    border-radius: 10%;
    border-color: #D2D6DA;
    background-color: white;
    color: #D2D6DA;
}

#linea{
    border: 1px solid #F5F8F9;
}

.lista{
    font-size: 20px;
}

.freccia::before{
    content:'\25BE';
}

.check{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
}

.spunta{
    color: lightseagreen;
    border: 1px solid lightseagreen;
}

.croce{
    color: red;
    border: 1px solid red;
}

.type{
    font-size: 15px;
    width: 100px;
    height: 2rem;
    border-radius: 20%;
    padding: 5px;
    line-height: 40px;
    color: white;
}

.editor{
    background-color: #45ABE9;
}

.goal{
    background-color: #9C72E4;
}

.reclute{
    background-color: #63C0A9;
}

.mobile{
    background-color: #F29E33;
}

.website{
    background-color: #D763A1;
}

.sales{
    background-color: #B0C925;
}

